.jumbotron-fluid {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 3vw;
}

.container {
    width: 70%;
}

.btn-primary {
    float:right;
}

#employee-table th,
td {
  display: inline-block;
  width: 16.575%;
}